{%extends 'index.html'%}
{%block body_block%}

{%for cart in items%}
<div class="row">
    <div class="col-4 mb-3">
        <img src="{{cart.item.images.url}}" alt="" height="250" width="100%">
    </div>
    <div class="col-4">
        <div class="card-body">
            <h5 class="card-title">Book name: {{cart.item.book_name}}</h5>
            <h5 class="card-title">Author: {{cart.item.author}}</h5>
            <h5 class="card-title">Avalable: {{cart.item.copies}}</h5>
            <h5 class="card-title">Date: {{cart.date}}</h5>

        </div>
    </div>
    <div class="col-4 mt-3">
        <h5 class="card-title">Price: {{cart.item.price}}</h5>
        <a href="{%url 'order' cart.id cart.item.id%}" class="btn btn-primary">Buy now</a>
        <span>{{cart.status}}</span>
        <div class="col-4 mt-2">
            <a href="{% url 'removecart' cart.id %}" class="btn btn-danger">Remove</a>
        </div>
    </div>
</div>
{%endfor%}
<hr>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4">
        <h1>
            <strong>Subtotal</strong><span>: {{total}}</span>
        </h1>
    </div>
</div>

{%endblock%}